<div class="row">
  <h1>Friendly Furries</h1>
</div>
<div class="row">
 <!-- Start handlebars repeat here: -->
 {{#each matches}}
  <div class="col-sm-6 col-md-4 matchContainer" id="@key">
    <div>
      <img src="{{picture}}" width="100" alt="...">
      <div>
        <h3>{{furryName}}</h3>
        <h5>{{gender}}</h5>
        <p>{{bio}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Woof!</a></p>
      </div>
    </div>
  </div>
  {{/each}}
  <!-- End handlebars repeat -->
</div>