<div class="row">
  <h1>Friendly Furries</h1>
</div>
<div class="row">
 <!-- Start handlebars repeat here: -->
 {{!-- {{#each matches}} --}}
  <div class="col-sm-6 col-md-4 matchContainer" id="@key">
    <div>
      <img src="http://1.bp.blogspot.com/_xOficiG3jdU/S7wTZO9yE5I/AAAAAAAAAKg/4aH8IO6zO10/s1600/furries4.xlarger.jpg" width="100" alt="...">
      <div>
        <h3>Sexy Squirrel</h3>
        <p>Hot piece of tail looking for female nut crunchers!</p>
        <p><a href="#" class="btn btn-primary" role="button">Message</a></p>
      </div>
    </div>
  </div>
  {{!-- {{/each}} --}}
  <!-- End handlebars repeat -->
</div>