<div id="matches" class="container">
  <div class="row">
    <div>Profile pic</div>
    <div>UserName</div>
    <div>Gender</div>
    <div>Age</div>
    <div>Species</div>
    <div>Bio</div>
  </div>
</div>