html, body {
  background-color: #87BCDE;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Ubuntu", serif; }

.container-fluid {
  padding: 0; }

.profile-img {
  border-radius: 100%;
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  margin-top: 30%;
  margin-bottom: 25%; }

#dynamic-views,
#swipe-view-page,
#swipe-view {
  height: 100vh; }

.swipe-view-user-layout {
  padding: 0; }

#swipe-view {
  background-color: #A4508B;
  box-shadow: 0 0 12px #888888; }

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 360px;
  height: 360px;
  margin: 0 auto;
  cursor: hand; }

.rotate-left {
  transform: rotate(-30deg) scale(0.8);
  transition: 3s;
  margin-left: -100px;
  opacity: 0; }

.rotate-right {
  transform: rotate(30deg) scale(0.8);
  transition: 3s;
  opacity: 0;
  margin-left: 100px; }

.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin: 5px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none; }

.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none; }

button {
  margin: 15px auto 0; }

.pull-right {
  float: right !important; }

button,
#reject-button,
#like-button {
  background-color: #E43F6F;
  color: white;
  border: none;
  border-radius: 5px; }

#reject-button,
#like-button {
  margin-top: 50%; }

.swipe-view-user-layout {
  background: white;
  text-align: center; }

.bio {
  padding-bottom: 50px; }

.swipe-pic {
  border-radius: 8px; }

#menu-toggle {
  border: none;
  border-radius: 5px;
  z-index: 100;
  padding: 6px 12px !important;
  background-color: #34D1BF;
  border-bottom: 2px solid #1c7d72;
  color: #4F4F54; }

.menu-toggle {
  position: absolute;
  right: 260px;
  top: 15px; }

#menu-toggle.toggled {
  position: absolute;
  right: 75px;
  top: 15px; }

#wrapper,
#menu-toggle {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-right: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #FCFBF9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px; }

/* Sidebar Styles */
@media (min-width: 1080px) {
  #wrapper {
    padding-right: 250px; }

  #wrapper.toggled {
    padding-right: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0; } }
h1 {
  text-align: center;
  color: purple; }

#loginPage {
  color: #4F4F54;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/furry4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  #loginPage h1 {
    font-family: "Open Sans", serif;
    font-weight: 800;
    padding-top: 10%;
    color: white;
    margin-top: 0; }
  #loginPage span {
    display: none; }
  #loginPage button {
    background-color: #34D1BF;
    margin: 10px;
    width: 500px;
    border-radius: 17px;
    border: 2px solid #34D1BF; }

#matches {
  color: white;
  height: 100vh;
  width: 100%;
  background: #A4508B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  #matches h1 {
    font-family: "Open Sans", serif;
    font-weight: 800;
    color: white;
    padding-bottom: 2%;
    border-bottom: 3px solid white;
    margin: 2% 20%; }
  #matches img {
    border-radius: 100%; }
  #matches .matchContainer:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transform: scale(1.2);
    transition: 500ms; }

/*# sourceMappingURL=main.css.map */
